{% extends 'base.html.twig' %}

{% block title %}Hello DataController!{% endblock %}

{% block body %}
 <div class="container-fluid p-5">
     <div class="d-flex justify-content-center align-items-center">
             <table id="datatable" class="table table-hover table-bordered table-striped" style="width:100%">
                 <thead>
                 <tr>
                     <th >ID</th>
                     <th >FIRSTNAME</th>
                     <th >LASTNAME</th>
                     <th >POSITION</th>
                     <th >SALARY</th>
                     <th >NEW LETTER</th>
                     <th >EMAIL</th>
                     <th >BIRTHDAY</th>
                     <th >COMPANY</th>
                 </tr>
                 </thead>
                 <tbody>

                 </tbody>
             </table>
     </div>
 </div>
{% endblock %}
